apiVersion: v1
kind: ConfigMap
metadata:
  name: todo-config
  labels:
    app: todo-app
data:
  JWT_ALGORITHM: {{ .Values.config.jwtAlgorithm | quote }}
  FRONTEND_URL: {{ .Values.config.frontendUrl | quote }}
  API_BASE_URL: {{ .Values.config.apiBaseUrl | quote }}
